*
!Dockerfile
!pyproject.toml
!setup.py
!MANIFEST.in
!README.md
!LICENSE
!si2ca/
!si2ca/**
!configs/
!configs/experiments.yaml
!skills/
!skills/**
!data/
!data/*.jsonl
!data/*.csv
!data/assets.tar.gz
!scripts/
!scripts/install_serving_client.py
**/__pycache__/
**/*.pyc
data/assets/**
data/deepswe/**
